.homepage >h1{
    text-align: center;
    padding: 30px;
}

#airline-submit-btn{
    margin-top: 10;
}
.form-label{
    font-size: 20;
}
#airline-table{
    margin-top: 60px;
}
#airline-table > h2{
    font-size: 30;
}