.homepage >h1{
    text-align: center;
    padding: 30px;
    
}

#destinations-form{
    margin-left: 5%;
    margin-right: 5%;
}

.form-label{
    font-size: 20;
}
#destinations-table{
    margin-top: 60px;
    padding-left: 75;
    padding-right: 75;
}
#destinations-table > h2{
    font-size: 30;
}

#destination-submit-btn{
    padding-left: 75;
}